@{
    ViewData["Title"] = "Admin panel";
}

@section SidePanel {
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-action="ProductListPartial" asp-controller="Admin"
               id="product_link" class="text-dark">Product list</a>
        </li>
        <li class="list-group-item">
            <a class="text-dark" onclick="">Category list</a>
        </li>
    </ul>
}

<main id="content">

</main>

@section scripts{
    <script src="~/js/admin_panel.js" asp-append-version="true"></script>
}

