@model ProductEditorVM

@{
    ViewData["Title"] = "Edit product";
}

<h3>Edit product</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProduct" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Description" class="control-label"></label>
                <input asp-for="Product.Description" class="form-control" />
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label">Category</label>
                <select asp-for="Product.CategoryId"
                        class="form-control"
                        asp-items="Model.Categories">
                </select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" accept="image/*" onchange="ImagePreview(this);" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <img width="250" height="200" id="preview"
                 src="@("~/product_images/" + Model.Product.ImagePath)" asp-append-version="true" />

            <input type="hidden" asp-for="Product.ImagePath" value="@Model.Product.ImagePath" />
            <input type="hidden" asp-for="Product.Id" value="@Model.Product.Id" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ProductList">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/admin_panel.js"></script>
}
