<h6>@ViewBag.Message</h6>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("CategoryList", "Category")";
        }, 1500);
    })
</script>